body {
    background-color: #d0f0c0; /* light green */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center; /* Center the title */
    background-color: #6a9fd8; /* blueish */
    color: white;
}

.title h1 {
    margin: 0;
}

nav {
    background-color: #6a9fd8; /* blueish */
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #6a9fd8; /* blueish */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}