<div class="pagetitle">
  <h1>Profile</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Users</li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile" id="main">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <h2>Kevin Anderson</h2>
          <h3>Doctor</h3>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <div id="profileData"></div> <!-- Profile overview content will be populated here -->
            </div>
          </div><!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  // Fetch profile data from JSON file
  fetch('../Labaratory-System/json/profile2.json')
    .then(response => response.json())
    .then(data => {
      // Construct HTML to display profile data
      const profileHTML = `
        <h5 class="card-title">Profile Details</h5>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Full Name</div>
          <div class="col-lg-9 col-md-8">${data[0].name}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Role</div>
          <div class="col-lg-9 col-md-8">${data[0].role}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Company</div>
          <div class="col-lg-9 col-md-8">${data[0].company}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Job</div>
          <div class="col-lg-9 col-md-8">${data[0].job}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Country</div>
          <div class="col-lg-9 col-md-8">${data[0].country}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Address</div>
          <div class="col-lg-9 col-md-8">${data[0].address}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Phone</div>
          <div class="col-lg-9 col-md-8">${data[0].phone}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 label">Email</div>
          <div class="col-lg-9 col-md-8">${data[0].email}</div>
        </div>
      `;
      // Populate profile overview content
      document.getElementById('profileData').innerHTML = profileHTML;
    })
    .catch(error => console.error('Error fetching profile data:', error));
</script>