
<section class="section" id="main">
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcome!</h5>
      <p class="intro">To get started navigate to the sidebar on the left</p>
    </div>
  </div>
</section>
         
         

           
